@import url(header.css);
@import url(home.css);
@import url(footer.css);
@import url(nosotros.css);







/*

#cabeza{
    padding: 20px;
    width: 432px;
    height: 600px;
    padding: 60px;
}

a{
    display: flex;
    align-items: center;
}

#subCabeza{
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 84);
    position: absolute;
    opacity: 50%;
    
}

 #imagen{
    border: 3px rgb(67, 0, 250) solid;
    opacity: 50%;
    height: 500px;
    width: 300px;
}
*/