:root {
    /* COLORES */
    --color-amarillOscuro:#F5BD2E;
    --color-amarilloClaro: #FEF5AC;
    /* FUENTES */
    --font-poppins: 'Poppins', sans-serif;
    /* TAMAÑOS DE FUENTES */
    --title: 25px;
    --paragraph: 14px; 
    --subtitulos: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*------------Header ------------*/
body{
width: auto;
}
header{
    
    border: 1px solid black;
}

#preHeader{
    height: 110px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#preHeader img{
    width: 170px;height: 110px;
}

#preHeader .contenedor{ 
display: flex;
margin-right: 4px;
}
.mail{
    display: flex;
    flex-direction:column;
}

.mail i {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-amarillOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    margin: 6px 0px 5px 2px;
}

.header-texto{
    display: flex;
    flex-direction:column;
}
.header-texto p{
    padding: 11px 0px 12px 4px;
    font-family: var(--font-poppins);
    font-weight:760;
    font-size: 12px;
}

.coHeader{
    background-color: rgba(254, 245, 172, 0.75);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coHeader h2 {
padding-left: 13px;
padding-right: 13px;
font-size: 23px;
font-family: var(--font-poppins);
opacity: 1;

}

/*------- -------- BODY   -------- --------*/
body div img {
width:100%;

}

body .bodyPrincipal{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cajaTexto-ImagenPrincipal{
    background-color: #FEF5AC;
    
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    border-radius: 4px;  
}

.cajaTexto-ImagenPrincipal p{
    padding: 10px 10px 10px 0px;
    font-family: var(--font-poppins);
    font-size: 13px;
}

.cajaTexto-ImagenPrincipal .años{
    font-family: var(--font-poppins);
    font-size: 30px;
    text-align: center;
    padding-left: 7px;
}

body .obrasDEs{
    margin: 45px 0px 15px 0px;
    text-align: center;
    font-family: var(--font-poppins);
    font-size: var(--subtitulos);
}

.proyectos-destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.proyectos-destacados img{
    width: 155px;
    height: 200px;
    margin: 0px 10px 20px 10px ;
    border-radius: 5px;
    opacity: 70%;
    box-shadow: 6px 6px 4px 0px rgba(95,111,148,0.3);
    
}

.proyectos-destacados .proyecto1 div{
    width: 155px;
    height: 40px;
    background-color: rgba(245, 189, 46,0.65);
    position: absolute;
    
}
.proyectos-destacados .proyecto1 div p{
    padding-top: 10px;
    margin: auto;
     display: flex;
     flex-direction: column;
    align-items: center;
    font-family: var(--font-poppins);
    font-size: 15px;
    color: black; 
    font-weight:600
}

.proyectos-destacados .proyecto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.proyectos-destacados .proyecto1 a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contact .form-title{
    background-color:rgba(95, 111, 148	,0.5 );
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-contact h2{
font-family: var(--font-poppins);
font-size: var(--subtitulos);
font-weight:600;
}
.form-contact form{
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
}

.input-contact{
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding: 15px;
}
.input-contact label{
    font-family: var(--font-poppins);
}

.input-contact .style-input-contact{
    margin-top: 8px;
    border: none;
    border-bottom: 1px #5F6F94 solid;
    outline: none;
}

.input-contact .coment {
    border:1px #5F6F94 solid;
    border-radius: 4px;
    background-color:  rgba(254, 245, 172, 0.10);
    overflow: scroll;
    resize: none;/*No deja que el text area cambie de tamaño*/
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 10px;
}

.contain-button-contact {
    text-align: center;
}

.submit-contact{
    width:100px ;
    height: 40px;
    border-radius: 4px;
    border:1px solid  #5F6F94;
    background-color: #5F6F94;
    font-size: 17px;
    font-weight: bold;
    font-family: var(--font-poppins);
}








/*

#cabeza{
    padding: 20px;
    width: 432px;
    height: 600px;
    padding: 60px;
}

a{
    display: flex;
    align-items: center;
}

#subCabeza{
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 84);
    position: absolute;
    opacity: 50%;
    
}

 #imagen{
    border: 3px rgb(67, 0, 250) solid;
    opacity: 50%;
    height: 500px;
    width: 300px;
}
*/