
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
    <header>
        <h1>HEADER</h1>
    </header>
    <body>

        <h1>HOLA</h1>
        <div id="cabeza">
            <a href="/obras">
                <img id="imagen" src="/images/edificio-60-10-11-poster.jpg" alt="">
            <div id="subCabeza"></div>
            </a>
        </div>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste tenetur suscipit deleniti, error neque consectetur sapiente quam itaque similique enim! Laborum deleniti inventore neque rem eius tenetur minima modi ducimus.</h1>
        <div>
            <button></button>
        </div>
    </body>
</html>