<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sobre nosotros</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non obcaecati ratione ipsam vel totam minus delectus, rem nam temporibus! Enim nihil possimus ut maxime officiis incidunt consequatur ullam sed commodi dicta rerum cupiditate laborum est dolorem placeat, perferendis molestiae eos explicabo impedit? Harum minus dolorem tempora. Corrupti nihil aut autem. Veniam ipsum tenetur iure facere non fugiat officiis, quibusdam esse numquam necessitatibus ad doloribus! Consectetur nesciunt adipisci natus voluptatum obcaecati, ex, dignissimos sunt sequi recusandae, ab itaque nostrum sapiente aperiam assumenda tempora? Delectus velit ipsam vero dolore perferendis excepturi assumenda unde tempore? Eum consequuntur quae reprehenderit maiores deserunt dicta atque.</p>
</body>
<form action="/nosotros" method="POST">
    <div class="input-contact">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" class="style-input-contact">
    </div>
    <div class="input-contact">
        <label for="phone">Teléfono:</label>
        <input type="number" name="phone" id="phone" class="style-input-contact">
    </div>
    <div class="input-contact">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" class="style-input-contact">
    </div>
    <div class="input-contact">
        <label for="comments">Comentarios:</label>
        <textarea name="comments" id="comments" cols="30" rows="7" class="style-input-contact"></textarea>
    </div>
    <div class="contain-button-contact">
        <button type="submit" class="submit-contact" >Enviar</button>
    </div>
</form>
</html>