<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/images/logo.png" width="100%" type="image/x-icon">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/obraDetalle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
        <title>Hoenau</title>
    </head>
    <%- include("partials/header.ejs") %>
    <%- obras %>
        obra
<body>

<div class="ful-img off " id="fulImgBox">
    <img src="/images/obras/edificio-60-10-11-poster.jpg" id="
    fulImg" alt="">
</div>
<div class="ful-img off " id="fulImgBox2">
    <img src="/images/obras/corr3553_.jpg" id="
    fulImg" alt="">
</div>
<div class="ful-img off " id="fulImgBox3">
    <img src="/images/obras/MHPFTECOPRGDJCLMJT47UBUIWY.jpg" id="
    fulImg" alt="">
</div>

    <section class="detalle-main">
        <div class="detalle-submain">


        <article class="detalle-contenido-1">
            <div><img src="/images/obras/edificio-60-10-11-poster.jpg" alt=""></div>
            <h2>Nombre del proyecto</h2>
        </article>


        <article class="detalle-contenido-2">
            <div>
                <h3>Datos de obra</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, voluptatum!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, voluptatum!</p>
            </div>
            <div>
                <h3>Descripcion de la obra</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, voluptatum!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, voluptatum!!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, voluptatum</p>
            </div>
        </article>


        <article class="detalle-contenido-3">
            <img src="/images/obras/edificio-60-10-11-poster.jpg" alt="" id="modal-img">
            <img src="/images/obras/corr3553_.jpg" id="modal2-img"  alt="">
            <img src="/images/obras/MHPFTECOPRGDJCLMJT47UBUIWY.jpg" id="modal3-img"  alt="">
        </article>

    </div>
    </section>

</body>
<%- include("partials/footer.ejs") %>
<script src="/js/menuBurguer.js"></script>
<script src="/js/modal.js"></script>
</html>