<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NUESTRAS OBRAS </h1>
    <h2>Obra 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laudantium ipsum quod. Sed dolorem excepturi culpa vel expedita numquam consequuntur praesentium magni cumque sunt! Aliquid, eos dolor. Saepe, in dolores?</p>
</body>
</html>