<footer>
    <div class="footer-data">
        
        <div class="footer-projects">
            <a href="" style="text-decoration: none;color: black;">
                <p class="footer-projects-title">Obras</p>
                <p class="subtitle">Finalizadas</p>
                <p class="subtitle">En ejecucion</p>
            </a>
        </div>

        <div class="footer-contact">
            <p class="footer-contact-title">Contacto</p>
            <div >
                <i class="fa-regular fa-envelope"></i>
                <p>correo123456@gmail.com</p>
            </div>
            <div>
                <a href="" style="text-decoration: none;color: black;"><i class="fa-solid fa-phone"></i></a>
                
                <a href="" style="text-decoration: none;color: black;"><p>+54 1121603132</p></a>    
            </div>
        </div>
        

        <div class="footer-networks">
            <p> Redes Sociales</p>
            <div>
                <a href="" style="text-decoration: none;color: black;"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="" style="text-decoration: none;color: black;"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

   <div>
    
</footer>
<div class="footer-contenedor">
    <div class="footer-next">
    
        <img src="/images/logo.png" alt="">
        <p>Copyright © 2022-HOENAU CONSTRUCCIONES</p>
    </div>
</div>