
<header>
    <div id="preHeader">
        <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
            <div class="contenedor">
                 <div class="mail">
                    <a href="mailto:gary.aguilar014@gmail.com" style="text-decoration: none;color: black;"><i class="fa-regular fa-envelope"></i></a>     
                    <a href="https://wa.me/+5491123864067?text=Quiero%20saber%20sobre%20sus%20servicios" style="text-decoration: none;color: black;" class="tel"><i class="fa-solid fa-phone"></i></a>
                </div>
                 <div class="desk-preheader">
                    <p class="desk-mail">Email</p>
                    <p>Llamenos</p>
                 </div>
                 <div class="header-texto">
                    <a href="mailto:gary.aguilar014@gmail.com" style="text-decoration: none;color: black;"><p>correo123456@gmail.com</p></a>
                    <p><a href="https://wa.me/+5491123864067?text=Quiero%20saber%20sobre%20sus%20servicios"style="text-decoration: none;color: black;" class="tel-text">+54 1121603132</a> </p>
                 </div>
            </div>
    </div> 
   
    <div class="coHeader">
        <div class="icono-menu">
            <i class="fa-solid fa-bars" id="icono-menu"></i>
        </div>
        <div class="cont-menu active" id="menu"> 
            <ul>
                <a href="/nosotros" style="text-decoration: none;color: black;"><li>Nosotros</li></a>
                <a href="/obras" style="text-decoration: none;color: black;"><li>Obras</li></a>
                <a href="/#contactoID" style="text-decoration: none;color: black;"><li>Contacto</li></a>
                
            </ul>
        </div>
        
<!-- --- desktop- -->
        <div class="desktop"> 
            <a href="/nosotros" style="text-decoration: none;color: black;"><h2>Nosotros</h2></a> 
            <a href="/obras" style="text-decoration: none;color: black;"><h2>Obras</h2></a> 
            <a href="/#contactoID" style="text-decoration: none;color: black;"><h2>Contacto</h2></a> 
           
        </div>
      
    </div> 
</header>